.balloon {
  animation: balloon 2000ms ease-in-out infinite;
  user-select: none;
}

@keyframes balloon {
  0%,
  100% {
    transform: translateY(0) rotate(-4deg);
  }
  50% {
    transform: translateY(-100px) rotate(4deg);
  }
}
